.contact-info img{
    width: 30px;
    height: 30px;
}

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}

.contact-title{
    position: relative;
}

.contact-title h1{
    padding: 0px, 30px;
    font-size: 80px;
    font-weight: 600;
}

.contact-section{
    display: flex;
    gap: 150px;
    width: 100%;
}

.contact-left{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}

.contact-left h1{
    font-size: 80px;
    font-weight: 700;
}

.contact-left p{
    max-width:550px;
    color: white;
    font-size: 20px;
    line-height: 35px;
}

.contact-details{
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: aliceblue;
    font-size: 22px;
}

.contact-info{
    display: flex;
    align-items: center;
    gap: 20px;
}

.contact-right{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
    width: 100%;
    max-width: 700px;
}

.contact-right label{
    color: aliceblue;
    font-size: 22px;
    font-weight: 500;
}

.contact-right input{
    border: none;
    width: 100%;
    height: 78px;
    padding-left: 20px;
    border-radius: 5px;
    background-color: #32323c;
    color: #a0a0a0;
    font-size: 20px;
    box-sizing: border-box;
}

.contact-right textarea{
    border: none;
    width: 100%;
    padding: 25px;
    border-radius: 5px;
    background-color: #32323c;
    color: #a0a0a0;
    font-size: 20px;
    box-sizing: border-box;
}

.contact-submit{
    font-size: 22px;
    padding: 20px 60px;
    margin-bottom: 50px;
}


@media screen and (max-width: 1068px) {
    .contact {
        margin: 40px 20px;
        gap: 40px;
    }

    .contact-title h1 {
        font-size: 40px;
    }

    .contact-section {
        flex-direction: column;
        gap: 50px;
    }

    .contact-left h1 {
        font-size: 40px;
    }

    .contact-right input,
    .contact-right textarea {
        width: 100%;
    }
}

/* Mobile */
@media screen and (max-width: 768px) {
    .contact {
        margin: 20px 15px;
        gap: 30px;
        width: calc(100% - 30px);
    }

    .contact-title h1 {
        font-size: 28px;
        padding: 0px 10px;
    }

    .contact-section {
        gap: 30px;
    }

    .contact-left h1 {
        font-size: 28px;
    }

    .contact-left p {
        font-size: 16px;
        line-height: 28px;
    }

    .contact-details {
        gap: 20px;
    }

    .contact-info {
        gap: 15px;
    }

    .contact-info img {
        width: 25px;
        height: 25px;
    }

    .contact-details span {
        font-size: 18px;
    }

    .contact-right {
        gap: 20px;
    }

    .contact-right label {
        font-size: 18px;
    }

    .contact-right input,
    .contact-right textarea {
        height: 60px;
        padding-left: 15px;
        font-size: 16px;
    }

    .contact-right textarea {
        padding: 20px;
    }

    .contact-submit {
        font-size: 18px;
        padding: 15px 40px;
    }
}
