.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
    margin-top: 200px;
    padding-bottom: 100px;
}


#profile2{
    margin-top: 40px;
    width: 410px;
    height: 400px;
}

.about-title{
    position: relative;
}

.about-title h1{
    background: linear-gradient(264deg, rgb(247, 76, 64) -6.09%,rgb(235, 111, 228) 100%);
    background-clip: text;
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    position: relative;
    padding: 0px 30px;
    font-size: 60px;
    font-weight:600;
    z-index: 1;
}

#stars{
    position: absolute;
    top:45px;
    left: 255px;
    z-index: -1;
    width: 130px;
    height:70px;
}

.about-sections{
    display: flex;
    gap: 40px;
}

.about-right{
    display: flex;
    flex-direction: column;
    gap: 80px;
    margin-left: 50px;
}

.about-para{
    display: flex;
    flex-direction: column;
    font-size: 24px;
    gap: 20px;
    font-weight: 500;
}
.about-para p{
    gap: 10px;
}

.about-skills{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.skill{
    display: flex;
    gap: 50px;
    align-items: center;
    transition: 0.3s;
}

.skill p{
    min-width: 150px;
    font-size: 24px;
    font-weight: 500;
}

.skill hr{
    outline: none;
    border: none;
    width: 50%;
    height: 8px;
    border-radius: 50px;
    background: linear-gradient(264deg, orange -5%, rgb(252, 98, 218) 100%);
}

@media (max-width: 1208px) {
    .about {
        gap: 60px;
    }

    .about-sections {
        flex-direction: column;
        align-items: center;
    }

    .about-right {
        gap: 60px;
        align-items: center;
    }

    .about-para {
        font-size: 20px;
        text-align: center;
    }

    #list{
        display: grid;
        grid-template-columns: auto auto auto;
    }

    .about-skills h1{
        text-align: center;
        font-size: 35px;
    }

    .skill {
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;
    }

    .skill p {
        font-size: 20px;
    }

    #profile2 {
        width: 300px;
        height: auto;
    }

    .about-title h1 {
        font-size: 48px;
        text-align: center;
    }

    #stars {
        left: 260px;
        transform: translateX(-50%);
        top: 30px;
    }
}

