.navbar{
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    padding: 20px 30px;
}

.nav-open{
    width: 30px;
    height: 30px;
}

.nav-close{
    width: 30px;
    height: 30px;
}

.Name{
    background-image: linear-gradient(267deg,#25a7da 0.36%, #e17f23 102.06%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.nav-menu{
    display: flex;
    list-style: none;
    margin-left: 00px;
    gap: 10px;
    font-size: 20px;
}

.nav-connect{
    padding: 5px 15px;
    border-radius: 10px;
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
}
.nav-connect:hover{
    color: rgb(255, 255, 255);
    text-shadow: 0 0 2px whitesmoke, 0 0 2px white;
    transform: scale(1.05);
}
.nav-open{
    display: none;
}
.nav-close{
    display: none;
}

@media (max-width: 768px) {
    .nav-open {
        display: block;
        position: fixed;
        right: 30px;
    }

    .nav-menu {
        position: fixed;
        flex-direction: column;
        align-items: center;
        top: 0;
        gap: 30px;
        background-color: #1f0016;
        width: 350px;
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
        right: -350px;
        padding-top: 50px;
    }

    .nav-connect {
        display: block; /* <-- show nav items inside mobile menu */
        font-size: 24px;
    }

    .nav-close {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
    }
}
